.app {
    width: 800px;
    margin:auto;
}
.tab {
    display: inline-block;
    width:100px;
    margin-right:10px;
    font-size: 18px;
    font-family: Roboto Light, sans-serif;
    background: steelblue;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.tab.active {
    background: steelblue;
}
.tab.inactive {
    background: lightsteelblue;
}
.tab:hover {
    background: cornflowerblue;
}
.tab:active {
    background: #1f66e5;
}
.list-container {
    background:#eee;
    padding:10px;
    border-radius:0 10px 10px 10px;
}
.list {
    list-style-type: none;
    padding: 0;
}
.item-container {
    margin-bottom:10px;
}
.item-box {
    display: inline-block;
    width:18px;
    height:18px;
    border:1px solid black;
    margin-right:10px;
    vertical-align: bottom;
    cursor: pointer;
}
.item {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
.item-box.done {
    font-size: 36px;
}
.item.done {
    text-decoration-line: line-through;
}
.item-box-contents {
    transform: translate(0, -15px);
    cursor: pointer;
}
.delete-container {
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    font-size:32px;
    color: red;
    position:absolute;
    transform: translate(0, -8px);
}
.adder {
    display:inline;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background: lightsteelblue;
    border-radius:5px;
}
.adder-plus-button {
    display: inline-block;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    background: lightsteelblue;
    color: white;
    width: 50px;
    vertical-align: bottom;
    border-radius:10px 0 0 10px;
    cursor: pointer;
    text-align: center;
}
.adder-plus-button:hover {
    background:cornflowerblue;
    vertical-align:bottom;
}
.adder-plus-button:active {
    background: darkblue;
}
.adder-textarea {
    display: inline-block;
    resize: none;
    vertical-align:top;
    width:auto;
    font-size:18px;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}
.adder-container {
    display:block;
    margin-top:5px;
}